body,
#root {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

.MuiContainer-root {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22rem;
}

ul {
  margin: 0;
  padding: 0;
}
